.title {
    border:3px solid black;
    margin: 10px;
    animation: titleDown 1s;
}

.titleText, .links {
    display:inline-block;
}

.links {
    border:3px solid black;
}

.titleText, .acompTextHeading, .linkAcomplishments, .links, .aboutMeTitle, .devAccompTitle, .lines {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  xx-large;
    
}

.b1, .b2, .b3, .b4{
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(25% - 10px);
    height:400px;
    background-color: lightgrey;
}

.acompText {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.aboutMe {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height:800px;
    background-color: coral;
}

.devAccomp {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height: 800px;
    background-color: rgb(59, 202, 41);
}

#target { 
    display: none;
    animation: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.accomplishments {
    animation: slide-in 2s
}

.linkAcomplishments {
    animation: down 1.5s;
}

.boxOne, .boxTwo, .boxThree, .boxFour {
    display: inline-block;
    background-color: black;
    margin: 5px;
}

.whiteBold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-emphasis: bold;
    font-size: 75px;

}

#popUp {
    display: none;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-2000px) scale(1);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes down {
    0% {
        transform: translateY(-400px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes titleDown {
    0% {
        transform: translateY(-200px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}