.title {
    border:3px solid black;
    margin: 10px;
}

.titleText, .links {
    display:inline-block;
}

.links {
    border:3px solid black;
}

.titleText, .acompTextHeading, .linkAcomplishments, .links, .aboutMeTitle, .devAccompTitle, .lines {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  xx-large;
    
}

.b1, .b2, .b3, .b4{
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(25% - 10px);
    height:400px;
    background-color: lightgrey;
}

.acompText {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.aboutMe {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height:800px;
    background-color: coral;
}

.devAccomp {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height: 300px;
    background-color: coral;
}

#target { 
    display: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.hidden {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}