html {
    background-color: darkcyan;
}

.title {
    border:3px solid black;
    margin: 10px;
    animation: titleDown 1s;
    background-color: whitesmoke;
}

.titleText, .links {
    display:inline-block;
}

.links {
    border:3px solid black;
}

.titleText, .acompTextHeading, .linkAcomplishments, .links, .aboutMeTitle, .devAccompTitle, .lines {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  xx-large;
    
}

.b1, .b2, .b3, .b4{
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(25% - 10px);
    height:400px;
    background-color: lightgrey;
}

.acompText {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

.aboutMe {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height:800px;
    background-color: coral;
}

.devAccomp {
    /* display:inline-block;
    position: relative; */
    margin: 5px;
    width: 800px;
    height: 800px;
    background-color: rgb(59, 202, 41);
}

#target { 
    display: none;
    animation: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.accomplishments {
    animation: slide-in 2s
}

.linkAcomplishments {
    animation: down 1.5s;
}

.whiteBold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: bold;
    font-size: 75px;

}

.space {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black; /* Set background color for space div */
}

.skillsHead {
    color: white;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: top;
}

.particle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    animation: particleAnimation 5s infinite;
  }

  @keyframes particleAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-2000px) scale(1);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes down {
    0% {
        transform: translateY(400px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes titleDown {
    0% {
        transform: translateY(-200px) scale(1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}